@font-face {
  font-family: DM Serif Display;
  src: url("/fonts/DMSerifDisplay-Regular.ttf");
}
@font-face {
  font-family: Jost;
  src: url("/fonts/Jost-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  margin-top: 44px;
  margin-bottom: 45px;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  gap: none;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
}
.header__left__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
  color: rgb(41, 47, 54);
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: center;
}

.banner {
  margin-bottom: 200px;
  text-align: center;
}
.post {
  margin-bottom: 150px;
}
.post__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 27px;
}
.post__content {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  align-items: center;
  padding: 22px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.post__content__subcontent {
  text-align: left;
}
.post__content__header {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  margin-bottom: 22px;
}
.post__content__text {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  margin-bottom: 41px;
}
.post__content__dataVector {
  display: flex;
  justify-content: space-between;
  gap: none;
  align-items: center;
}
.post__content__data {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-transform: capitalize;
}

.articles {
  margin-bottom: 51px;
}
.articles__header {
  margin-bottom: 52px;
}
.articles__header__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: left;
}
.articles__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 28px;
}
.articles__item {
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 21px;
}
.articles__item__img {
  margin-bottom: 21px;
}
.articles__item__imgChild {
  max-width: 320px;
}
.articles__item__type {
  position: absolute;
  top: 249px;
  left: 41px;
  padding: 4px 5px 8px 11px;
  border-radius: 8px 8px 8px 0px;
  background: rgb(255, 255, 255);
  box-sizing: content-box;
}
.articles__content {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 30px;
  white-space: pre-line;
}
.articles__dateBox {
  display: flex;
  justify-content: space-between;
  gap: none;
  align-items: center;
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 200px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 134px;
}
.footer__interno__logo {
  margin-bottom: 18px;
}
.footer__interno__text {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: left;
  margin-bottom: 31px;
}
.footer__interno__birdIn {
  display: flex;
  gap: 54px;
  justify-content: flex-start;
}
.footer__pages {
  margin-left: 101px;
}
.footer__pages__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.footer__pages__links {
  display: flex;
  flex-direction: column;
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 1%;
  text-align: left;
}
.footer__contact {
  margin-left: 129px;
}
.footer__contact__title {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 26px;
}
.footer__contact__adress {
  color: rgb(77, 80, 83);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1%;
}/*# sourceMappingURL=blogStyle.css.map */