$colorCount:#CDA274;

$widthSite:1140px;

@font-face {
    font-family: DM Serif Display;
    src:url("/fonts/DMSerifDisplay-Regular.ttf");
   
    }
    @font-face {
        font-family: Jost;
        src:url("/fonts/Jost-VariableFont_wght.ttf");
       
        }
    
@mixin flexSBcenter($gap) {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: inherit;
}


.container {
    margin: 0 auto;
    max-width: $widthSite;
}

.center {
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);
}

.header{

    margin-top: 44px;
    margin-bottom: 45px;
    &__flex{
        @include flexSBcenter(none);
    }


    &__left{
        display: flex;
        justify-content: flex-start;
        gap:8px;
        align-items: center;
        &__logo{

        }
        &__title{
            color: rgb(41, 47, 54);
            font-family: DM Serif Display;
            font-size: 40px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    &__right{
        display: flex;
        justify-content: flex-end;
        gap:40px;
        align-items: center;
        
        color: rgb(41, 47, 54);
        font-family: Jost;
        font-size: 20px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0em;
        text-align: center;

    }

}

.banner{
    
    margin-bottom: 200px;
    text-align: center;
 
    &__img{
      
    }
}
.post{
    margin-bottom: 150px;
   

    &__title{
        color: rgb(41, 47, 54);
        font-family: DM Serif Display;
        font-size: 50px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 2%;
        text-align: left;
        margin-bottom: 27px;
    }
    &__content{
        @include flexSBcenter(65px);
         padding: 22px;
        box-sizing: border-box;
        border: 1px solid rgb(231, 231, 231);
        border-radius: 62px;

        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
        &__img{

        }
        &__subcontent{
            text-align: left;
        }
        &__header{
            color: rgb(41, 47, 54);
            font-family: DM Serif Display;
            font-size: 25px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 2%;
            margin-bottom: 22px;
        }
        &__text{
            color: rgb(77, 80, 83);
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 1%;
            margin-bottom: 41px;
        }
        &__dataVector{
            @include flexSBcenter(none);
        }
        &__data{
            color: rgb(77, 80, 83);
            font-family: Jost;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 1%;
            text-transform: capitalize;

        }
       
        
    }
}


.articles{
    margin-bottom: 51px;
    &__header{
       
        margin-bottom: 52px;
        &__title{
            color: rgb(41, 47, 54);
            font-family: DM Serif Display;
            font-size: 50px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 2%;
            text-align: left;
            
        
        }
       
    }
    &__box{
        // @include flexSBcenter(27px);
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 28px;


    }
    &__item{
        position: relative;
        box-sizing: border-box;
        border: 1px solid rgb(231, 231, 231);
        border-radius: 62px;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
        padding: 21px;
       

        &__img{
            // margin: 21px;
            margin-bottom: 21px;
            // max-width: 320px;
            // box-sizing: content-box;
        }
        &__imgChild{
            
            max-width: 320px;
           
        }

        &__type{
            position: absolute;
            top: 249px;
            left: 41px;
            padding: 4px 5px 8px 11px;
            border-radius: 8px 8px 8px 0px;
            background: rgb(255, 255, 255);
            box-sizing: content-box;

        }
        
    }
    &__content{
        color:#292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 2%;
        text-align: left;
        margin-bottom: 30px;
        white-space: pre-line; 
    }
    &__dateBox{
        @include flexSBcenter(none);
        
    }
    
}
.pagination{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 200px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-bottom: 134px;
    
    &__interno{
        &__logo{
            margin-bottom: 18px;

        }
        &__text{
            color: rgb(77, 80, 83);
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 1%;
            text-align: left;
            margin-bottom: 31px;
        }
        &__birdIn{
            display: flex;
            gap: 54px;
            justify-content: flex-start;
            
        }
    }
        

    
    &__pages{
        margin-left: 101px;
        &__title{
            color: rgb(41, 47, 54);
            font-family: DM Serif Display;
            font-size: 25px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 0%;
            text-align: left;
        }
    
        &__links{
            display: flex;
            flex-direction: column;
           
            color: rgb(77, 80, 83);
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 300%;
            letter-spacing: 1%;
            text-align: left;
        }
    }
    &__contact{
        margin-left: 129px;
        &__title{
            color: rgb(41, 47, 54);
            font-family: DM Serif Display;
            font-size: 25px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 26px;
        }
        &__adress{
            color: rgb(77, 80, 83);
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 1%;
        }
    }
}


